{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-fire"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Заказов на модерацию</span>
                    <span class="info-box-number">{{ ordersToModerate }}</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}