{% extends 'admin/base.html.twig' %}

{% block title %}Администрирование заказов{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Администрирование заказов
        </h1>
    </section>
    <div id="admin_order_administration"></div>

{% endblock %}