{% extends 'admin/base.html.twig' %}

{% block title %}Коректура заказов{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Модерирование заказов
        </h1>
    </section>

{% endblock %}