{% extends 'admin/base.html.twig' %}

{% block title %}Коректура заказов{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Коректура заказов
        </h1>
    </section>
    <div id="corrector_order_check"></div>
{% endblock %}