{% include 'base.html.twig' %}

{% block body %}
    <h1>performer</h1>
    {% for order in orders %}

        <div> {{ order.id }} | <a href="{{ path('performer_order_inform', {'order' : order.id}) }}">подробне</a> </div>
        <div> {{ order.description }} </div>
        <div> Статус: {{ order.status }} </div>

        <hr>
    {% endfor %}
{% endblock %}