{% include 'base.html.twig' %}

{% block body %}
    <h1>performer</h1>
    {% for order in orders %}

        <div> {{ order.id }} </div>
        <div> {{ order.description }} </div>

        <form method="post" action=" {{ path('performer_order_aprove', { 'order': order.id }) }}">
            <input type="file" name="file">
            <br>
            <input type="submit">
        </form>
        <hr>
    {% endfor %}
{% endblock %}